*.csv filter=lfs diff=lfs merge=lfs -text
Julian[[:space:]]Bruno/BACI_HS22_Y2024_V202601.csv filter=lfs diff=lfs merge=lfs -text
Julian[[:space:]]Bruno/Bases/BACI_HS22_Y2024_V202601.csv filter=lfs diff=lfs merge=lfs -text
